RemoteSystemsTempFiles/
.metadata/

# History files
.Rhistory

# R data files from past sessions
.Rdata

# Log files
*.log

# Backup files
*~

org.eclipse.epsilon.examples.tools/
crepe.examples/service-composition-de/Experiments/
